<div class="row" id="frase" style="position: absolute;top: 90%;left:38%">

</div>

<div class="text-white fixed-bottom">
  <p class="fst-italic text-center">Turn4World, via Fittizia 0, CAP: 16000, Citta Fittizia, Nazione Fittizia</p>
</div>

</body>
</html>

<script>
  function showInfo(){
    let info = document.getElementById("personalinfo");
    let act = document.getElementById("cardsactivity");
    info.removeAttribute("hidden");
    act.setAttribute("hidden", "hidden");
  }

  function showActivity(){
    let info = document.getElementById("personalinfo");
    let act = document.getElementById("cardsactivity");
    act.removeAttribute("hidden");
    info.setAttribute("hidden", "hidden")
  }


</script>